/* CompleteRegistration.css */
.complete-registration-container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: white;
}

.complete-registration-title {
    text-align: center;
    margin-bottom: 20px;
}

.complete-registration-form {
    display: flex;
    flex-direction: column;
}

.complete-registration-form > * {
    margin-top: 10px;
}

.complete-registration-button {
    margin-top: 20px;
}
