
/* HierarchyPage.css */
.tree-container {
  max-width: 100%;
  overflow: auto;
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  padding: 20px;

}

.button-container {
  margin-right: 10px;
  width: 800px; 
  flex-direction: row;
  background-color: rgb(187, 255, 0);
  justify-content: space-between;
}
.button-container .MuiButton-root.edit-button {
  margin-left: 10px;
  background-color: #3f51b5;
  color: white;
}

.button-container .MuiButton-root.delete-button {
  margin-left: 10px;
  background-color: #f50057;
  color: white;
}


.tree-node-text:hover {
  text-decoration: underline;
}


.tree-node-text {
  font-size: 14px;
  cursor: pointer;
}

text {
  font-size: 12px;
}

circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node circle {
  fill: #e6f2ff; 
  stroke: #1a75ff; 
  stroke-width: 2px;
}

.node text {
  fill: #333; 
  font-weight: normal; 
}

.edit-button {
  background-color: #4CAF50; 
  color: white;
  margin-right: 8px; 
}


.delete-button {
  background-color: #f44336; 
  color: white;
}
.node-image {
  width: 30px;
  height: 30px;
  x: -15; 
  y: -30; 
}

.node-button {
  padding: 5px 10px; /* Padding inside the buttons */
  border-radius: 5px; /* Rounded corners for buttons */
  font-size: 12px; /* Smaller text for buttons */
  text-transform: none; /* Prevent uppercase transform */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  min-width: 300px;

}

.modal-content img {
  max-width: 100px;
  border-radius: 50%;
}